<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    <meta name="generator" content="Grav {{ grav_version }}" />
    {% if header.description %}
        <meta name="description" content="{{ header.description }}" />
    {% else %}
        <meta name="description" content="{{ site.description }}" />
    {% endif %}
    {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />

    {% block stylesheets %}
        {% do assets.add('@theme/css-compiled:nucleus.css',102) %}
        {% do assets.add('@theme/css-compiled:template.css',101) %}
        {% do assets.add('@theme/css:font-awesome.min.css',100) %}

        {% if page.header.lightbox %}
            {% do assets.add('@theme/css:featherlight.min.css') %}
        {% endif %}

        {% if user_agent.getBrowserName == 'msie' and user_agent.getBrowserVersion >= 8 and user_agent.getBrowserVersion <= 9 %}
            {% do assets.add('@theme/css:nucleus-ie9.css') %}
            {% do assets.add('@theme/css/pure-0.5.0:grids-min.css') %}
            {% do assets.add('@theme/js:html5shiv-printshiv.min.js') %}
        {% endif %}

        {{ assets.css() }}
    {% endblock %}

    {% block javascripts %}
        {% do assets.add('@theme/js:jquery-2.1.1.min.js',101) %}
        {% do assets.add('@theme/js:modernizr.custom.71422.js',100) %}
        {% do assets.add('@theme/js:nova-theme.js') %}
        {% do assets.add('@theme/js:pushy.min.js') %}

        {% if page.header.lightbox %}
            {% do assets.add('@theme/js:featherlight.min.js') %}
        {% endif %}

        {{ assets.js() }}
    {% endblock %}
{% endblock head%}

</head>
<body id="top" class="{{ page.header.body_classes }}">
    <nav class="pushy pushy-left">
        <div id="panel">
        {% include 'partials/navigation.html.twig' %}
        </div>
    </nav>
    <div class="site-overlay"></div>
    <div id="container">
        {% block header %}
        <header id="header">

                <div id="logo">
                    <h3><a href="{{ base_url_absolute}}">{{ config.site.title }}</a></h3>
                </div>
                <div id="navbar">
                    {% block header_extra %}{% endblock %}
                    {% include 'partials/navigation.html.twig' %}
                    <span class="panel-activation menu-btn">&#9776;</span>
                </div>

        </header>
        {% endblock %}

        {% block showcase %}{% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
            {% block pagination %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
        <footer id="footer">
            <div class="totop">
                <span><a href="#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
        </footer>
        {% endblock %}
    </div>
    {% if page.header.lightbox %}
    <script>
    $(function () {
        $('a[rel="lightbox"]').featherlight();
    });
    </script>
    {% endif %}
</body>
</html>
